section.wrapper-404
	.content-404
		img.img-404.img-responsive(src="assets/images/background/404.png" alt="")
		.container
			.col-md-7.main-right
				.wrapper-text-404
					h3.title-404 Oopss!
					h4.title-small-404 That’s an error.
					p.text-404 The requested was not found on this server. That’s all we know.
					a.btn-rokoko(href="index.html") homepage

