doctype
html(lang="en")
    head
        title
            | Rokoko
            = " | "
            = title
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        
        // FONT CSS
        //- link( rel="icon" href="assets/images/logo/favicon.ico" type="image/x-icon")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet")
        link(type="text/css" rel="stylesheet" href="assets/font/font-icon/font-awesome/css/font-awesome.css")

        // LIBRARY CSS
        link(type="text/css", rel="stylesheet", href="assets/libs/bootstrap/css/bootstrap.min.css")
        link(type="text/css", rel='stylesheet', href='assets/libs/slick-slider/slick.css')
        link(type="text/css", rel='stylesheet', href='assets/libs/slick-slider/slick-theme.css')
        
        // STYLE CSS
        link(type="text/css", rel='stylesheet', href='assets/css/layout.css')
        link(type="text/css", rel='stylesheet', href='assets/css/components.css')
        link(type="text/css", rel='stylesheet', href='assets/css/components.css')
        link(type="text/css", rel='stylesheet', href='assets/css/responsive.css')

        for page, key in public._data
            if(current.source == key)
                for css in page.url_style
                    if(css.src != undefined)
                        link(type="text/css", rel="stylesheet", href="#{css.src}")

    body
        .body-wrapper
            // MENU MOBILE
            .wrapper-menu-mobile
            // WRAPPER CONTENT
            .wrapper-content
                // HEADER
                header
                    != partial("_includes/header")
                // MAIN CONTENT
                .main-content
                    != yield
                // FOOTER
                footer
                    != partial("_includes/footer")
        // LIBRARY JS
        script(src="assets/libs/jquery/jquery-3.1.1.min.js")
        script(src="assets/libs/bootstrap/js/bootstrap.min.js")
        script(src="assets/libs/slick-slider/slick.min.js")

        // MAIN JS
        script(src="assets/js/main.js")
        
        // LOADING JS FOR PAGE
        for page, key in public._data
            if(current.source == key)
                for js in page.url_script
                    if(js.src != undefined)
                        script(src='#{js.src}')
            
