section.wrapper-promotion-banner.wrapper-blog-banner
    .content-banner
        .container
            h1.title blog
            p.sub-title Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
.wrapper-blog
    .container
        .content-blog
            .row
                .col-md-9
                    .main-blog
                        .row-main-blog
                            .row
                                .col-md-8
                                    .item-blog.item-blog-hover
                                        a.links-img-blog(href="#")
                                            img.img-responsive(src="assets/images/blog/blog-1.jpg" alt="")
                                        .wrapper-text-blog
                                            a(href="#").title-text-blog Rokoko - những điều chưa kể
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-1.png" alt="")
                                                span.text 21.12.2016
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-2.png" alt="")
                                                span.text Góc nhỏ Rokoko
                                            p.text-blog-rokoko Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                .col-md-4
                                    .main-blog-col
                                        .item-blog.item-blog-hover
                                            a.links-img-blog(href="#")
                                                img.img-responsive(src="assets/images/blog/blog-2.jpg" alt="")
                                            .wrapper-text-blog
                                                a(href="#").title-text-blog Tiệc nướng cuối tuần khó quên cho người thân
                                                .wrapper-day-rokoko
                                                    img.img-responsive(src="assets/images/blog/icons-1.png" alt="")
                                                    span.text 21.12.2016
                                                .wrapper-day-rokoko
                                                    img.img-responsive(src="assets/images/blog/icons-2.png" alt="")
                                                    span.text Events
                                        .item-blog.item-blog-hover
                                            a.links-img-blog(href="#")
                                                img.img-responsive(src="assets/images/blog/blog-3.jpg" alt="")
                                            .wrapper-text-blog
                                                a(href="#").title-text-blog Bí mật BBQ: Thịt nướng sốt dừa non
                                                .wrapper-day-rokoko
                                                    img.img-responsive(src="assets/images/blog/icons-1.png" alt="")
                                                    span.text 21.12.2016
                                                .wrapper-day-rokoko
                                                    img.img-responsive(src="assets/images/blog/icons-2.png" alt="")
                                                    span.text Khách hàng
                        .wrapper-gallery
                            .content-gallery.item-blog
                                .grid-item.item-blog-hover
                                    .wrapper-gallery-images
                                        a.links-img-blog(href="#")
                                           img.img-grid.img-responsive(src="assets/images/blog/blog-gird-1.jpg" alt="")
                                        .wrapper-text-blog
                                            a(href="#").title-text-blog Miến trộn Hàn Quốc: làm sao bật hương vị đặc trưng?
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-1.png" alt="")
                                                span.text 21.12.2016
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-2.png" alt="")
                                                span.text Tips nấu ăn
                                .grid-item.grid-item-2.item-blog-hover
                                    .wrapper-gallery-images
                                        a.links-img-blog(href="#")
                                           img.img-grid.img-responsive(src="assets/images/blog/blog-gird-2.jpg" alt="")
                                        .wrapper-text-blog
                                            a(href="#").title-text-blog Ướp gà sốt cay phô mai không khó với anh Kim
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-1.png" alt="")
                                                span.text 21.12.2016
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-2.png" alt="")
                                                span.text Cooks
                                .grid-item.item-blog-hover
                                    .wrapper-gallery-images
                                        a.links-img-blog(href="#")
                                           img.img-grid.img-responsive(src="assets/images/blog/blog-gird-3.jpg" alt="")
                                        .wrapper-text-blog
                                            a(href="#").title-text-blog Lorem ipsum dolor sit amet, consectetur.
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-1.png" alt="")
                                                span.text 21.12.2016
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-2.png" alt="")
                                                span.text Tips nấu ăn
                                .grid-item.item-blog-hover
                                    .wrapper-gallery-images
                                        a.links-img-blog(href="#")
                                           img.img-grid.img-responsive(src="assets/images/blog/blog-gird-4.jpg" alt="")
                                        .wrapper-text-blog
                                            a(href="#").title-text-blog Bí mật BBQ: thịt nướng cháy cạnh, biết ăn mới tốt
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-1.png" alt="")
                                                span.text 21.12.2016
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-2.png" alt="")
                                                span.text Góc nhỏ Rokoko
                                .grid-item.item-blog-hover
                                    .wrapper-gallery-images
                                        a.links-img-blog(href="#")
                                           img.img-grid.img-responsive(src="assets/images/blog/blog-gird-5.jpg" alt="")
                                        .wrapper-text-blog
                                            a(href="#").title-text-blog Nướng gà giòn đậm vị mà không ngấy
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-1.png" alt="")
                                                span.text 21.12.2016
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-2.png" alt="")
                                                span.text Cooks
                                .grid-item.grid-item-2.item-blog-hover
                                    .wrapper-gallery-images
                                        a.links-img-blog(href="#")
                                           img.img-grid.img-responsive(src="assets/images/blog/blog-gird-7.jpg" alt="")
                                        .wrapper-text-blog
                                            a(href="#").title-text-blog Lorem ipsum dolor sit amet, consectetur.
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-1.png" alt="")
                                                span.text 21.12.2016
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-2.png" alt="")
                                                span.text Cooks
                                .grid-item.item-blog-hover
                                    .wrapper-gallery-images
                                        a.links-img-blog(href="#")
                                           img.img-grid.img-responsive(src="assets/images/blog/blog-gird-6.jpg" alt="")
                                        .wrapper-text-blog
                                            a(href="#").title-text-blog Mực nướng đậm chất cô Chi, consectetur.
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-1.png" alt="")
                                                span.text 21.12.2016
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-2.png" alt="")
                                                span.text Tips nấu ăn
                                .grid-item.item-blog-hover
                                    .wrapper-gallery-images
                                        a.links-img-blog(href="#")
                                           img.img-grid.img-responsive(src="assets/images/blog/blog-gird-8.jpg" alt="")
                                        .wrapper-text-blog
                                            a(href="#").title-text-blog Lorem ipsum dolor sit amet, consectetur.
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-1.png" alt="")
                                                span.text 21.12.2016
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-2.png" alt="")
                                                span.text Tips nấu ăn
                                .grid-item.item-blog-hover
                                    .wrapper-gallery-images
                                        a.links-img-blog(href="#")
                                           img.img-grid.img-responsive(src="assets/images/blog/blog-gird-9.jpg" alt="")
                                        .wrapper-text-blog
                                            a(href="#").title-text-blog Lorem ipsum dolor sit amet, consectetur.
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-1.png" alt="")
                                                span.text 21.12.2016
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-2.png" alt="")
                                                span.text Góc nhỏ Rokoko
                                .grid-item.item-blog-hover
                                    .wrapper-gallery-images
                                        a.links-img-blog(href="#")
                                           img.img-grid.img-responsive(src="assets/images/blog/blog-gird-10.jpg" alt="")
                                        .wrapper-text-blog
                                            a(href="#").title-text-blog Lorem ipsum dolor sit amet, consectetur.
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-1.png" alt="")
                                                span.text 21.12.2016
                                            .wrapper-day-rokoko
                                                img.img-responsive(src="assets/images/blog/icons-2.png" alt="")
                                                span.text Cooks
                .col-md-3
                    .wrapper-sidbar
                        .wrapper-form-search-sidbar
                            input.input-search(type="text" placeholder="Search for...")
                            button.btn-submit-search(type="submit")
                                i.icons-search.fa.fa-search
                        .wrapper-categories
                            .title-slidbar Categories
                            ul.list-unstyled.list-categories
                                li
                                    a.links-categories(href="#")
                                        span.text Tips nấu ăn
                                        span.text.text-right (34)
                                li
                                    a.links-categories(href="#")
                                        span.text Góc nhỏ Rokoko
                                        span.text.text-right (15)
                                li
                                    a.links-categories(href="#")
                                        span.text Khách hàng
                                        span.text.text-right (13)
                                li
                                    a.links-categories(href="#")
                                        span.text Atmosphere
                                        span.text.text-right (9)
                                li
                                    a.links-categories(href="#")
                                        span.text Upcoming Events
                                        span.text.text-right (11)
                        .wrapper-write
                            .title-slidbar Bài viết gần đây
                            .content-write
                                .item-write
                                    a.links-img-write(href="#")
                                        img.img-responsive(src="assets/images/blog/write-1.jpg" alt="")
                                    .write-right
                                        .title Lorem ipsum dolor sit amet, consectetur.
                                        .text-color 21.12.2016
                                .item-write
                                    a.links-img-write(href="#")
                                        img.img-responsive(src="assets/images/blog/write-2.jpg" alt="")
                                    .write-right
                                        .title Lorem ipsum dolor sit amet, consectetur.
                                        .text-color 21.12.2016
                                .item-write
                                    a.links-img-write(href="#")
                                        img.img-responsive(src="assets/images/blog/write-3.jpg" alt="")
                                    .write-right
                                        .title Lorem ipsum dolor sit amet, consectetur.
                                        .text-color 21.12.2016

            .pagging.row
                .col-md-offset-2
                    ul
                        li.prev-btn
                            a(href="#")
                                i.fa.fa-caret-left
                        li.current
                            a(href="#") 1
                        li
                            a(href="#") 2
                        li
                            a(href="#") 3
                        li
                            a(href="#") 4
                        li 
                            span ...
                        li
                            a(href="#") 29
                        li.next-btn
                            a(href="#") 
                                i.fa.fa-caret-right