section.wrapper-booking
	.container.booking-content
		.row
			.col-md-5.col-md-offset-2.col-sm-6.col-xs-12
				.oder-right					
					.main-oder-right
						h3.title-oder Đặt bàn ngay
						p.sub-title 
							span &#9632;
							| Vui lòng điền thông tin bên dưới
						.wrapper-form-oder
							form
								.main-form-oder
									.item-form-oder-left
										.item-form-oder.date.input-group#datetimepicker1
											input.input-oder(type="text" , placeholder="DD/MM/YY")
											span.input-group-addon
												span.glyphicon.glyphicon-calendar
									.item-form-oder-right
										.item-form-oder.date.input-group.bootstrap-timepicker.timepicker
											input#datetimepicker3.input-oder(type="text" placeholder="HH : MM")
											i.icons-oder.glyphicon.glyphicon-time
								.main-form-oder.main-form-oder-1
									.item-form-oder-right
										.item-form-oder
											input.input-oder(type="text" placeholder="1")
											i.icons-oder.fa.fa-user
									.item-form-oder-left
										.item-form-oder
											input.input-oder(type="text" placeholder="(123) 456 78 90")
											i.icons-oder.fa.fa-phone
								.main-form-oder.main-form-oder-2
									.item-form-oder
										input.input-oder(type="text" placeholder="Tên khách hàng")
										i.icons-oder.fa.fa-user
								.main-form-oder.main-form-oder-3
									.item-form-oder
										input.input-oder(type="text" placeholder="Email")
										i.icons-oder.fa.fa-envelope-o
								p.notice 
									span (*) 
									| Rokoko bảo đảm giữ bí mật thông tin khách hàng
								.wrapper-btn-oder
									a.btn-rokoko(href="#") đặt bàn
					.clearboth
			
			.col-md-3.col-md-offset-1.col-sm-6.col-xs-12
				.openning-wr
					.black-board-content
						.heading Giờ mở cửa
						img(src="assets/images/background/line-on-black-board.png").line
						.time-sheet
							.day-of-week Thứ 2 - Thứ 7
							.time-of-day 11:00 - 22:00
						.time-sheet
							.day-of-week Chủ Nhật
							.time-of-day 08:00 - 03:00
						img(src="assets/images/background/line-on-black-board.png").line
						.hotline 05896 24863