section.wrapper-franchise-banner
	.content-banner
		.container
			h1.title Trở thành đối tác Rokoko
			.cta-btn-wr
				a(href="#").cta-btn LIÊN HỆ NGAY
			.clearfix
			.info
				.address 288 - 290 Trường Sa, Phường 2, Phú Nhuận
				.hotline 08.3517.6688
section.wrapper-franchise
	.container.franchise-content
		.section-1.row
			.col-md-6.col-sm-6.col-xs-12
				img(src="assets/images/franchise/franchise_1.jpg")
			.col-md-6.col-sm-6.col-xs-12
				.title-wr
					h2.title Nhượng quyền thành công
					h3.sub-title chuỗi nhà hàng Rokoko
					img(src="assets/images/franchise/separator-fr.png").separator
					p.des Sed fringilla, metus vitae sagittis euismod, massa nisl blandit odio, non vehicula eros ipsum in est. Donec ultrices imperdiet purus, eget sollicitudin magna. Ut vestibulum, tortor sit amet finibus tincidunt, velit diam ultrices erat, ultrices molestie augue justo vitae nisi. Nulla facilisi. Quisque efficitur, nunc vel commodo congue, ante massa accumsan nunc, in maximus nulla est nec magna. Nunc id pharetra nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse malesuada tempor consectetur. Maecenas id gravida felis. Fusce feugiat molestie erat, non aliquam eros dignissim nec. Donec eu sapien semper, tempus lectus nec, lobortis tortor. Maecenas pulvinar metus at dolor tempor viverra.
					a(href="#").see-more  
						span Chi tiết
						i.icons-next.fa.fa-long-arrow-right
		.section-2.row
			.col-md-4.col-sm-4.col-xs-12
				.title-wr
					h2.title Bí quyết kinh doanh
					h3.sub-title thành công từ Rokoko miền nam
					p.des Quisque efficitur, nunc vel commodo congue, ante massa accumsan nunc, in maximus nulla est nec magna. Nunc id pharetra nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse malesuada tempor consectetur. Maecenas id gravida felis. Fusce feugiat molestie erat, non aliquam eros dignissim nec.
					a(href="#").see-more  
						span Chi tiết
						i.icons-next.fa.fa-long-arrow-right
			.col-md-4.col-sm-4.col-xs-12
				img(src="assets/images/franchise/franchise_2.jpg")
			.col-md-4.col-sm-4.col-xs-12
				img(src="assets/images/franchise/franchise_3.jpg")
		.section-3.row
			.col-md-6.col-sm-6.col-xs-12
				img(src="assets/images/franchise/franchise_4.jpg")
			.col-md-6.col-sm-6.col-xs-12
				.title-wr
					h3.sub-title Những lý do thuyết phục bạn chọn rokoko là đối tác
					p.des Sed fringilla, metus vitae sagittis euismod, massa nisl blandit odio, non vehicula eros ipsum in est. Donec ultrices imperdiet purus, eget sollicitudin magna. Ut vestibulum, tortor sit amet finibus tincidunt, velit diam ultrices erat, ultrices molestie augue justo vitae nisi. Nulla facilisi. Quisque efficitur, nunc vel commodo congue, ante massa accumsan nunc, in maximus nulla est nec magna. Nunc id pharetra nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse malesuada tempor consectetur. Maecenas id gravida felis. Fusce feugiat molestie erat, non aliquam eros dignissim nec. Donec eu sapien semper, tempus lectus nec, lobortis tortor. Maecenas pulvinar metus at dolor tempor viverra. Praesent neque libero, placerat vitae scelerisque id, eleifend ut orci.
					a(href="#").see-more  
						span Chi tiết
						i.icons-next.fa.fa-long-arrow-right
		.pagging.row
				.col-md-offset-2
					ul
						li.prev-btn
							a(href="#")
								i.fa.fa-caret-left
						li.current
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li 
							span ...
						li
							a(href="#") 29
						li.next-btn
							a(href="#")
								i.fa.fa-caret-right