section.wrapper-banner
	.container
		.content-banner
			h2.title-great Thoải mái ăn trưa
			.wrapper-combo
				.content-combo
					.item-combo
						h2.title-combo set
						h2.title-combo.title-combo-1 Combo
					h2.title-combo.title-combo-sales 189 - 299K
section.wrapper-oder
	.container
		.content-oder
			.images-oder-left
				img.img-responsive(src="assets/images/background/banner-oder.png" alt="")
			.oder-right
				.col-md-4.main-right
					.main-oder-right
						h3.title-oder Đặt bàn ngay
						.wrapper-form-oder
							form
								.main-form-oder
									.item-form-oder-left
										.item-form-oder
											input.input-oder(type="text" placeholder="DD/MM/YY")
											i.icons-oder.glyphicon.glyphicon-calendar
									.item-form-oder-right
										.item-form-oder
											input.input-oder(type="text" placeholder="HH : MM")
											i.icons-oder.glyphicon.glyphicon-time
								.main-form-oder.main-form-oder-1
									.item-form-oder-right
										.item-form-oder
											input.input-oder(type="text" placeholder="1")
											i.icons-oder.fa.fa-user
									.item-form-oder-left
										.item-form-oder
											input.input-oder(type="text" placeholder="(123) 456 78 90")
											i.icons-oder.fa.fa-phone
								.main-form-oder.main-form-oder-2
									.item-form-oder
										input.input-oder(type="text" placeholder="Tên khách hàng")
										i.icons-oder.fa.fa-user
								.wrapper-btn-oder
									a.btn-rokoko(href="#") đặt bàn
section.wrapper-go-rokoko
	.container
		.content-go-rokoko
			h2.title-great Đi đến Rokoko
			h3.title-go-rokoko Ăn Món hàn đúng chuẩn
			.banner-line-rokoko
				img.img-responsive(src="assets/images/background/banner-line-rokoko.png" alt="")
			p.text-go-rokoko Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere nunc a odio rutrum, eu venenatis eros tempor. Duis vitae mi suscipit ligula condimentum rhoncus ut ut lorem. Vestibulum nunc nisl, luctus eu eros eu, iaculis dictum quam. Maecenas pharetra accumsan dui id posuere. Aenean at pharetra nisi. Nullam nec pellentesque nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus.
.wrapper-banner-gird
	.content-banner-gird
		.item-gird
			a.links-gird(href="#")
				img.img-responsive(src="assets/images/background/banner-gird-1.jpg" alt="")
		.item-gird
			a.links-gird(href="#")
				img.img-responsive(src="assets/images/background/banner-gird-2.jpg" alt="")
		.item-gird
			a.links-gird(href="#")
				img.img-responsive(src="assets/images/background/banner-gird-3.jpg" alt="")
		.item-gird
			a.links-gird(href="#")
				img.img-responsive(src="assets/images/background/banner-gird-4.jpg" alt="")
		.item-gird
			a.links-gird(href="#")
				img.img-responsive(src="assets/images/background/banner-gird-5.jpg" alt="")
		.item-gird
			a.links-gird(href="#")
				img.img-responsive(src="assets/images/background/banner-gird-6.jpg" alt="")
		.item-gird
			a.links-gird(href="#")
				img.img-responsive(src="assets/images/background/banner-gird-7.jpg" alt="")
		.item-gird
			a.links-gird(href="#")
				img.img-responsive(src="assets/images/background/banner-gird-8.jpg" alt="")



