section.space-wrapper
	.space-header
		.container
			h1.heading Không gian
			p.sub-heading Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	.container.space-content
		.container
			.row
				.col-md-4
					.item-gird
						img(src="assets/images/space/1.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.link-detail-wrap
								a.btn-detail(href="#") Chi tiết
								.clearfix

				.col-md-4
					.item-gird
						img(src="assets/images/space/3.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.link-detail-wrap
								a.btn-detail(href="#") Chi tiết
								.clearfix
				.col-md-4
					.item-gird
						img(src="assets/images/space/2.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.link-detail-wrap
								a.btn-detail(href="#") Chi tiết
								.clearfix
				.col-md-4
					.item-gird
						img(src="assets/images/space/4.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.link-detail-wrap
								a.btn-detail(href="#") Chi tiết
								.clearfix
				.col-md-4
					.item-gird
						img(src="assets/images/space/5.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.link-detail-wrap
								a.btn-detail(href="#") Chi tiết
								.clearfix
				.col-md-4
					.item-gird
						img(src="assets/images/space/6.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.link-detail-wrap
								a.btn-detail(href="#") Chi tiết
								.clearfix
				.col-md-4
					.item-gird
						img(src="assets/images/space/7.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.link-detail-wrap
								a.btn-detail(href="#") Chi tiết
								.clearfix
				.col-md-4
					.item-gird
						img(src="assets/images/space/8.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.link-detail-wrap
								a.btn-detail(href="#") Chi tiết
								.clearfix
				.col-md-4
					.item-gird
						img(src="assets/images/space/6.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.link-detail-wrap
								a.btn-detail(href="#") Chi tiết
								.clearfix
			.pagging.row
				.col-md-offset-2
					ul
						li.prev-btn
							a(href="#")
								i.fa.fa-caret-left
						li.current
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li 
							span ...
						li
							a(href="#") 29
						li.next-btn
							a(href="#")
								i.fa.fa-caret-right