section.space-wrapper
	.space-header
		.container
			h1.heading Không gian
			p.sub-heading Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	.container.space-content
		.container
			.row
				.col-md-4.col-sm-6.col-xs-12.item-gird-wr
					.item-gird
						img.item-thumb(src="assets/images/space/1.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.description.hidden The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.link-detail-wrap
								a.btn-detail(href="#model-1") Chi tiết
								.clearfix

				.col-md-4.col-sm-6.col-xs-12.item-gird-wr
					.item-gird
						img.item-thumb(src="assets/images/space/3.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.description.hidden The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.link-detail-wrap
								a.btn-detail(href="#model-2") Chi tiết
								.clearfix
				.col-md-4.col-sm-6.col-xs-12.item-gird-wr
					.item-gird
						img.item-thumb(src="assets/images/space/2.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.description.hidden The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.link-detail-wrap
								a.btn-detail(href="#model-3") Chi tiết
								.clearfix
				.col-md-4.col-sm-6.col-xs-12.item-gird-wr
					.item-gird
						img.item-thumb(src="assets/images/space/2.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.description.hidden The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.link-detail-wrap
								a.btn-detail(href="#model-4") Chi tiết
								.clearfix
				.col-md-4.col-sm-6.col-xs-12.item-gird-wr
					.item-gird
						img.item-thumb(src="assets/images/space/5.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.description.hidden The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.link-detail-wrap
								a.btn-detail(href="#model-5") Chi tiết
								.clearfix
				.col-md-4.col-sm-6.col-xs-12.item-gird-wr
					.item-gird
						img.item-thumb(src="assets/images/space/2.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.description.hidden The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.link-detail-wrap
								a.btn-detail(href="#model-6") Chi tiết
								.clearfix
				.col-md-4.col-sm-6.col-xs-12.item-gird-wr
					.item-gird
						img.item-thumb(src="assets/images/space/7.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.description.hidden The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.link-detail-wrap
								a.btn-detail(href="#model-7") Chi tiết
								.clearfix
				.col-md-4.col-sm-6.col-xs-12.item-gird-wr
					.item-gird
						img.item-thumb(src="assets/images/space/8.jpg")
						.item-content
							p.title Phòng VIP 12 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.description.hidden The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.link-detail-wrap
								a.btn-detail(href="#model-8") Chi tiết
								.clearfix
				.col-md-4.col-sm-6.col-xs-12.item-gird-wr
					.item-gird
						img.item-thumb(src="assets/images/space/6.jpg")
						.item-content
							p.title Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
							p.date 21.12.2016								 
							img(src="assets/images/space/separator.png").separator
							.description.hidden The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.link-detail-wrap
								a.btn-detail(href="#model-9") Chi tiết
								.clearfix
			.pagging.row
				.col-md-offset-2
					ul
						li.prev-btn
							a(href="#")
								i.fa.fa-caret-left
						li.current
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li 
							span ...
						li
							a(href="#") 29
						li.next-btn
							a(href="#")
								i.fa.fa-caret-right
		.modal.fade.bs-example-modal-lg.space-model(role="dialog",aria-labelledby="myLargeModalLabel")#model-1
			.modal-dialog(role="document")
				.modal-content
					button.close(type="button", data-dismiss="modal",aria-label="Close")
							span(aria-hidden="true") &times;						
					.modal-body
						.owl-carousel.album-carousel
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-1.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-2.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 10 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.


		.modal.fade.bs-example-modal-lg.space-model(role="dialog",aria-labelledby="myLargeModalLabel")#model-2
			.modal-dialog(role="document")
				.modal-content
					button.close(type="button", data-dismiss="modal",aria-label="Close")
							span(aria-hidden="true") &times;						
					.modal-body
						.owl-carousel.album-carousel
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-1.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-2.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 10 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
		.modal.fade.bs-example-modal-lg.space-model(role="dialog",aria-labelledby="myLargeModalLabel")#model-3
			.modal-dialog(role="document")
				.modal-content
					button.close(type="button", data-dismiss="modal",aria-label="Close")
							span(aria-hidden="true") &times;						
					.modal-body
						.owl-carousel.album-carousel
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-1.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-2.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 10 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
		.modal.fade.bs-example-modal-lg.space-model(role="dialog",aria-labelledby="myLargeModalLabel")#model-4
			.modal-dialog(role="document")
				.modal-content
					button.close(type="button", data-dismiss="modal",aria-label="Close")
							span(aria-hidden="true") &times;						
					.modal-body
						input#current_index_popup(type="hidden",value="")
						.row
							.col-md-8.col-xs-12.col-sm-12
								.img-wr
									.owl-carousel.album-carousel
										img.item-thumb(src="assets/images/space/6.jpg")
										img.item-thumb(src="assets/images/space/1.jpg")
										img.item-thumb(src="assets/images/space/2.jpg")
										img.item-thumb(src="assets/images/space/3.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
							.col-md-4.col-xs-12.col-sm-12
								.content-wr
									.title_model#title_model Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
									.wrapper-day-rokoko
										img(src="assets/images/blog/icons-1.png",alt="").img-responsive
										span.text#date_model 21.12.2016
									.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
		.modal.fade.bs-example-modal-lg.space-model(role="dialog",aria-labelledby="myLargeModalLabel")#model-5
			.modal-dialog(role="document")
				.modal-content
					button.close(type="button", data-dismiss="modal",aria-label="Close")
							span(aria-hidden="true") &times;						
					.modal-body
						.owl-carousel.album-carousel
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-1.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-2.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 10 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
		.modal.fade.bs-example-modal-lg.space-model(role="dialog",aria-labelledby="myLargeModalLabel")#model-6
			.modal-dialog(role="document")
				.modal-content
					button.close(type="button", data-dismiss="modal",aria-label="Close")
							span(aria-hidden="true") &times;						
					.modal-body
						.owl-carousel.album-carousel
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-1.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-2.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 10 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
		.modal.fade.bs-example-modal-lg.space-model(role="dialog",aria-labelledby="myLargeModalLabel")#model-7
			.modal-dialog(role="document")
				.modal-content
					button.close(type="button", data-dismiss="modal",aria-label="Close")
							span(aria-hidden="true") &times;						
					.modal-body
						.owl-carousel.album-carousel
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-1.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-2.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 10 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
		.modal.fade.bs-example-modal-lg.space-model(role="dialog",aria-labelledby="myLargeModalLabel")#model-8
			.modal-dialog(role="document")
				.modal-content
					button.close(type="button", data-dismiss="modal",aria-label="Close")
							span(aria-hidden="true") &times;						
					.modal-body
						.owl-carousel.album-carousel
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-1.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-2.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 10 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
		.modal.fade.bs-example-modal-lg.space-model(role="dialog",aria-labelledby="myLargeModalLabel")#model-9
			.modal-dialog(role="document")
				.modal-content
					button.close(type="button", data-dismiss="modal",aria-label="Close")
							span(aria-hidden="true") &times;						
					.modal-body
						.owl-carousel.album-carousel
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-1.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 8 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.
							.row
								.col-md-8.col-xs-12.col-sm-12
									.img-wr
										img.item-thumb(src="assets/images/space/popup-img-2.jpg")
									.prev-btn-wr.popup-btn-wr
										a(href="#").rokoko-prev-btn.popup-btn
											i.fa.fa-chevron-left
									.next-btn-wr.popup-btn-wr
										a(href="#").rokoko-next-btn.popup-btn
											i.fa.fa-chevron-right
								.col-md-4.col-xs-12.col-sm-12
									.content-wr
										.title_model#title_model Phòng VIP 10 người cho gia đình đoàn tụ dịp cuối tuần
										.wrapper-day-rokoko
											img(src="assets/images/blog/icons-1.png",alt="").img-responsive
											span.text#date_model 21.12.2016
										.description#des_model The coconut, which is native to tropical climates like that of rinidad, grows on the coconut palm tree, which bears fruit year-round. Its ready availability makes it a staple ingredient in the cuisines of South Asia, the Caribbean, and Southeast Asia, where it is used in rice, curries, and soups as well as sweets.