section.wrapper-promotion-banner
	.content-banner
		.container
			h1.title Khuyến mãi đặc biệt
			p.sub-title  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
section.wrapper-promotion
	.container.promotion-content
		section.section-left
			.row.top-item
				.col-md-9.col-sm-12.col-xs-12
					.promotion-thumb
						img.img-responsive(src="assets/images/background/khuyen-mai-1.jpg")

				.col-md-4.col-md-offset-8.promotion-box.col-sm-12.col-xs-12
					.promotion-box-wr
						.promotion-box-content
							.promotion-title
								.great-title Tháng 4
								.des là lời mời đến Rokoko
						.clearfix
			.promotion-des.row
				.col-md-9.col-xs-12
					ul 
						li Chương trình cụ thể như sau:
					p  Thưởng thức các món ăn gia đình ý nghĩa, bạn nhận ngay ưu đãi giá rượu Hàn Quốc tự ủ 50 năm để bữa tiệc thêm trọn vẹn: <br />
						| – Giảm 20% khi gọi chai rượu Hàn Quốc tự ủ 50 năm thứ nhất, giảm 30% khi gọi chai thứ 2 trở đi.<br />
						| – Áp dụng từ ngày 15/01/2017 đến 28/02/2017<br />
						| – Không giới hạn số lượng rượu khuyến mãi.<br />
						| Ngoài ra, đến với nhà hàng từ nay đến 28/01/2017, với mỗi hóa đơn thực khách sẽ được bốc thăm trúng thưởng 100% các quà may mắn sau:<br />
						| – Voucher 100.000 vnđ<br />
						| – Voucher 200.000 vnđ<br />
						|– Voucher 500.000vnđ <br />
						| – Voucher 8 đĩa cá hồi sashimi miễn phí ăn vào lúc 9h sáng<br />
						| – Bộ 6 bao thực phẩm độc đáo có 1 không 2 từ Rokoko.<br />
					hr
					ul
						li Địa điểm áp dụng
					p Rokoko Hồ Chí Minh<br />
						| Địa chỉ: 234 Phan Xích Long, phường 7, Phú Nhuận, Hồ Chí Minh<br />
						| Thời gian: 7 ngày trong tuần. <br />

		section.section-right
			.row.top-item
				.col-md-9.col-md-offset-3
					.promotion-thumb
						img.img-responsive(src="assets/images/background/khuyen-mai-1.jpg")

				.col-md-4.promotion-box
					.promotion-box-wr
						.promotion-box-content
							.promotion-title
								.great-title Buffet tặng mẹ
								.bold-title Hiếu thảo trọn lòng
						.clearfix
			.promotion-des.row
				.col-md-9.col-md-offset-3.col-xs-12
					ul 
						li Chương trình cụ thể như sau:
					p  Thưởng thức các món ăn gia đình ý nghĩa, bạn nhận ngay ưu đãi giá rượu Hàn Quốc tự ủ 50 năm để bữa tiệc thêm trọn vẹn:<br />
					| – Giảm 20% khi gọi chai rượu Hàn Quốc tự ủ 50 năm thứ nhất, giảm 30% khi gọi chai thứ 2 trở đi.<br />
					| – Áp dụng từ ngày 15/01/2017 đến 28/02/2017<br />
					| – Không giới hạn số lượng rượu khuyến mãi.<br />
					| Ngoài ra, đến với nhà hàng từ nay đến 28/01/2017, với mỗi hóa đơn thực khách sẽ được bốc thăm trúng thưởng 100% các quà may mắn sau:<br />
					| – Voucher 100.000 vnđ<br />
					| – Voucher 200.000 vnđ<br />
					| – Voucher 500.000vnđ<br />
					| – Voucher 8 đĩa cá hồi sashimi miễn phí ăn vào lúc 9h sáng<br />
					| – Bộ 6 bao thực phẩm độc đáo có 1 không 2 từ Rokoko. <br />
					hr
					ul
						li Địa điểm áp dụng
					p Rokoko Hồ Chí Minh<br />
						| Địa chỉ: 234 Phan Xích Long, phường 7, Phú Nhuận, Hồ Chí Minh<br />
						| Thời gian: 7 ngày trong tuần. <br />
		.pagging.row
			.col-md-offset-2
				ul
					li.prev-btn
						a(href="#")
							i.fa.fa-caret-left
					li.current
						a(href="#") 1
					li
						a(href="#") 2
					li
						a(href="#") 3
					li
						a(href="#") 4
					li 
						span ...
					li
						a(href="#") 29
					li.next-btn
						a(href="#") 
							i.fa.fa-caret-right
