section.wrapper-promotion-banner.wrapper-contact-banner
    .content-banner
        .container
            h1.title Liên hệ
            p.sub-title Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
.wrapper-contact
    .wrapper-oder-btn-contact
        a.btn-oder(href="#") Đặt bàn ngay
    .wrapper-banner-img-left
        img.img-responsive(src="assets/images/background/banner-left-contact.png" alt="")
    .container
        .row
            .oder-right
                .col-md-7.main-right
                    .main-oder-right
                        h3.title-oder Liên hệ chúng tôi
                        .wrapper-line-contact
                            img.img-responsive(src="assets/images/background/line-contact.png" alt="")
                        p.text-contact Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
                        .wrapper-form-oder
                            form
                                .main-form-oder
                                    .item-form-oder
                                        input.input-oder(type="text" placeholder="Tên")
                                        i.icons-oder.fa.fa-user
                                .main-form-oder.main-form-oder-1
                                    .item-form-oder-right
                                        .item-form-oder
                                            input.input-oder(type="text" placeholder="Email")
                                            i.icons-oder.fa.fa-envelope-o
                                    .item-form-oder-left
                                        .item-form-oder
                                            input.input-oder(type="text" placeholder="Điện thoại")
                                            i.icons-oder.fa.fa-phone
                                .main-form-oder
                                    .item-form-oder
                                        input.input-oder(type="text" placeholder="Tiêu đề")
                                .main-form-oder.main-form-oder-2.main-form-area
                                    .item-form-oder
                                        textarea.input-textarea(placeholder="Special requirements")
                                .wrapper-btn-oder
                                    a.btn-rokoko(href="#") Gửi
.wrapper-partner
    .container
        .content-partner
            h2.title-partner Những đối tác hiện nay
            .row
                .col-md-4.col-sm-6.col-xs-6
                    .main-partner 
                        h3.title Rokoko phía Bắc
                        p.text 15 - ngõ Núi Trúc - Kim Mã - Ba Đình - Hà Nội
                        p.text.text-phone 04 3846 0341
                .col-md-4.col-sm-6.col-xs-6
                    .main-partner 
                        h3.title Rokoko Buôn Ma Thuột
                        p.text 15 - ngõ Núi Trúc - Kim Mã - Ba Đình - Hà Nội
                        p.text.text-phone 04 3846 0341
                .col-md-4.col-sm-6.col-xs-6
                    .main-partner 
                        h3.title Rokoko Hồ chí minh
                        p.text 15 - ngõ Núi Trúc - Kim Mã - Ba Đình - Hà Nội
                        p.text.text-phone 04 3846 0341
                .col-md-4.col-sm-6.col-xs-6
                    .main-partner 
                        h3.title Rokoko phía Bắc
                        p.text 15 - ngõ Núi Trúc - Kim Mã - Ba Đình - Hà Nội
                        p.text.text-phone 04 3846 0341
                .col-md-4.col-sm-6.col-xs-6
                    .main-partner 
                        h3.title Rokoko Buôn Ma Thuột
                        p.text 15 - ngõ Núi Trúc - Kim Mã - Ba Đình - Hà Nội
                        p.text.text-phone 04 3846 0341
                .col-md-4.col-sm-6.col-xs-6
                    .main-partner 
                        h3.title Rokoko Hồ chí minh
                        p.text 15 - ngõ Núi Trúc - Kim Mã - Ba Đình - Hà Nội
                        p.text.text-phone 04 3846 0341
