.wrapper-oder-btn-contact
    a.btn-oder(href="#") Đặt bàn ngay
section.wrapper-menu-banner
    .container-fluid
        .content-banner
            .row.row-no-padding
                .col-md-6.col-sm-12.col-xs-12.menu-left-col
                    img.img-responsive(src="assets/images/background/bg-menu-left.jpg")
                    .menu-widget
                        h2.title-great Rokoko Alacarte
                        .bottom-line
                        p.description Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
                        .btn-action
                            a.red-btn(href="#") Xem thực đơn
                .col-md-6.col-sm-12.col-xs-12.menu-right-col
                    img.img-responsive(src="assets/images/background/bg-menu-right.jpg")
                    .menu-widget
                        h2.title-great Buffet
                        .bottom-line
                        p.description Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
                        .btn-action
                            a.red-btn(href="#") Mini buffet
                            a.red-btn(href="#") Special buffet