section.search-wrapper
	.container
		.col-md-offset-2.col-md-9
			.form-search-wrapper
				.title Kết quả tìm kiếm
				form.navbar-form(role='search')
					.input-group.add-on
						span.input-group-addon
							i.glyphicon.glyphicon-search
						input#srch-term.form-control(placeholder='Rokoko', name='srch-term', type='text')
						.input-group-btn
							button.btn.btn-default(type='submit') Tìm
				p.search-des Không có kết quả tìm kiếm. <br />
					| 	Đề nghị bạn thử tìm từ khóa khác.
			.clearfix