.wrapper-oder-btn-contact
    a.btn-oder(href="#") Đặt bàn ngay
section.search-wrapper
    .container
        .col-md-offset-2.col-md-9.col-sm-12.col-xs-12
            .form-search-wrapper
                .title Kết quả tìm kiếm
                form.navbar-form(role='search')
                    .input-group.add-on
                        span.input-group-addon
                            i.glyphicon.glyphicon-search
                        input#srch-term.form-control(placeholder='Rokoko', name='srch-term', type='text')
                        .input-group-btn
                            button.btn.btn-default(type='submit') Tìm
                p.search-des Hiển thị 
                    strong 12/101 
                    | kết quả tìm được
            .clearfix
            .search-content
                img(src="assets/images/search/under-line.png").under-line.img-responsive
                .row.article
                    .col-md-3.col-sm-3.col-xs-12
                        .thumb-wrapper
                            a(href="#")
                                img(src="assets/images/search/1.jpg")
                    .col-md-9.col-sm-9.col-xs-12
                        a(href="#").title Bí mật BBQ: Thịt nướng sốt dừa non hương Rokoko
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row.article
                    .col-md-3.col-sm-3.col-xs-12
                        .thumb-wrapper
                            a(href="#")
                                img(src="assets/images/search/2.jpg")
                    .col-md-9.col-sm-9.col-xs-12
                        a(href="#").title Tại sao nên chọn Rokoko là đối tác?
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row.article
                    .col-md-3.col-sm-3.col-xs-12
                        .thumb-wrapper
                            a(href="#")
                                img(src="assets/images/search/3.jpg")
                    .col-md-9.col-sm-9.col-xs-12
                        a(href="#").title Bò thăn nướng sốt anh Kim trứ danh tại bếp Rokoko 
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row.article
                    .col-md-3.col-sm-3.col-xs-12
                        .thumb-wrapper
                            a(href="#")
                                img(src="assets/images/search/4.jpg")
                    .col-md-9.col-sm-9.col-xs-12
                        a(href="#").title Tâm sự chú Park: Kim chi tuyệt hảo của Rokoko
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row.article
                    .col-md-3.col-sm-3.col-xs-12
                        .thumb-wrapper
                            a(href="#")
                                img(src="assets/images/search/1.jpg")
                    .col-md-9.col-sm-9.col-xs-12
                        a(href="#").title Bí mật BBQ: Thịt nướng sốt dừa non hương Rokoko
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row.article
                    .col-md-3.col-sm-3.col-xs-12
                        .thumb-wrapper
                            a(href="#")
                                img(src="assets/images/search/2.jpg")
                    .col-md-9.col-sm-9.col-xs-12
                        a(href="#").title Tại sao nên chọn Rokoko là đối tác?
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row.article
                    .col-md-3.col-sm-3.col-xs-12
                        .thumb-wrapper
                            a(href="#")
                                img(src="assets/images/search/3.jpg")
                    .col-md-9.col-sm-9.col-xs-12
                        a(href="#").title Bò thăn nướng sốt anh Kim trứ danh tại bếp Rokoko 
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row.article
                    .col-md-3.col-sm-3.col-xs-12
                        .thumb-wrapper
                            a(href="#")
                                img(src="assets/images/search/4.jpg")
                    .col-md-9.col-sm-9.col-xs-12
                        a(href="#").title Tâm sự chú Park: Kim chi tuyệt hảo của Rokoko
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row.article
                    .col-md-3.col-sm-3.col-xs-12
                        .thumb-wrapper
                            a(href="#")
                                img(src="assets/images/search/1.jpg")
                    .col-md-9.col-sm-9.col-xs-12
                        a(href="#").title Bí mật BBQ: Thịt nướng sốt dừa non hương Rokoko
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row.article
                    .col-md-3.col-sm-3.col-xs-12
                        .thumb-wrapper
                            a(href="#")
                                img(src="assets/images/search/2.jpg")
                    .col-md-9.col-sm-9.col-xs-12
                        a(href="#").title Tại sao nên chọn Rokoko là đối tác?
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row.article
                    .col-md-3.col-sm-3.col-xs-12
                        .thumb-wrapper
                            a(href="#")
                                img(src="assets/images/search/3.jpg")
                    .col-md-9.col-sm-9.col-xs-12
                        a(href="#").title Bò thăn nướng sốt anh Kim trứ danh tại bếp Rokoko 
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row.article
                    .col-md-3.col-sm-3.col-xs-12
                        .thumb-wrapper
                            a(href="#")
                                img(src="assets/images/search/4.jpg")
                    .col-md-9.col-sm-9.col-xs-12
                        a(href="#").title Tâm sự chú Park: Kim chi tuyệt hảo của Rokoko
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .pagging.row
            .col-md-offset-2
                ul
                    li.prev-btn
                        a(href="#")
                            i.fa.fa-caret-left
                    li.current
                        a(href="#") 1
                    li
                        a(href="#") 2
                    li
                        a(href="#") 3
                    li
                        a(href="#") 4
                    li 
                        span ...
                    li
                        a(href="#") 29
                    li.next-btn
                        a(href="#")
                            i.fa.fa-caret-right