/*----------  0.1. Color  ----------*/
/*----------  0.2. Font  ----------*/
@font-face {
  font-family: "UTM-Avo";
  src: url("../fonts/UTM-Avo.eot?") format("eot"), url("../fonts/UTM-Avo.woff") format("woff"), url("../fonts/UTM-Avo.ttf") format("truetype");
}
@font-face {
  font-family: "UTM-Avo";
  src: url("../fonts/UTM-AvoBold.eot?") format("eot"), url("../fonts/UTM-AvoBold.woff") format("woff"), url("../fonts/UTM-AvoBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "georgia";
  src: url("../fonts/georgia.eot?") format("eot"), url("../fonts/georgia.woff") format("woff"), url("../fonts/georgia.ttf") format("truetype");
}
@font-face {
  font-family: "GreatVibes";
  src: url("../fonts/GreatVibes.eot?") format("eot"), url("../fonts/GreatVibes.woff") format("woff"), url("../fonts/GreatVibes.ttf") format("truetype");
}
html * {
  outline: 0 !important;
}
html,
body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  -wenkit-font-smoothing: subpixel-antialiased;
}
body {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background-color: #fff;
  font-family: 'UTM-Avo';
}
a {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
.main-right {
  float: right;
}
/********* HEADER ********/
.wrapper-header {
  position: relative;
}
.content-header-social {
  background-color: #e63024;
}
.content-header-social .main-header-social {
  text-align: right;
}
.content-header-social .wrapper-form-search {
  display: inline-block;
  position: relative;
  margin-right: 25px;
}
.content-header-social .wrapper-form-search form {
  width: 165px;
  position: relative;
  height: 20px;
}
.content-header-social .wrapper-form-search .input-search {
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #eb554c;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 12px;
  color: #fff;
}
.content-header-social .wrapper-form-search .btn-search {
  position: absolute;
  background-color: transparent;
  border: 0;
  right: 10px;
  line-height: 20px;
  height: 100%;
}
.content-header-social .wrapper-form-search .btn-search i {
  font-size: 12px;
}
.wrapper-social {
  display: inline-block;
  margin-bottom: 0;
}
.wrapper-social li {
  margin-right: 10px;
  cursor: pointer;
}
.wrapper-social li:last-child {
  margin-right: 0;
}
.wrapper-social li:hover a {
  color: #ffcc44;
}
.wrapper-social a {
  line-height: 35px;
  color: #fff;
  font-size: 14px;
}
.wrapper-logo {
  width: 115px;
  background-color: #000000;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.wrapper-logo .content-logo {
  display: table;
  width: 100%;
  text-align: center;
  height: 100%;
}
.wrapper-logo .links-logo {
  display: table-cell;
  vertical-align: middle;
}
/******** MENU *********/
.content-header-menu {
  background-color: #fff;
}
.content-header-menu .item-header-menu {
  width: 50%;
  display: inline-block;
}
.menu-wrapper .menu-item.active a {
  background-color: transparent;
  color: #e63024;
}
.menu-wrapper .menu-item.active a:after {
  width: 40%;
}
.menu-wrapper .menu-item a {
  font-size: 11px;
  text-transform: uppercase;
  color: #3c3c3c;
  font-weight: bold;
  padding: 0 25px;
  line-height: 80px;
  position: relative;
}
.menu-wrapper .menu-item a:hover,
.menu-wrapper .menu-item a:focus {
  background-color: transparent;
  color: #e63024;
}
.menu-wrapper .menu-item a:hover:after,
.menu-wrapper .menu-item a:focus:after {
  width: 40%;
}
.menu-wrapper .menu-item a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: #e63024;
  left: 0;
  right: 0;
  bottom: -5px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.menu-wrapper.menu-wrapper-left {
  float: right;
  margin-right: 80px;
}
.menu-wrapper.menu-wrapper-right {
  margin-left: 80px;
}
/******** FOOTER ********/
.section-footer {
  padding: 40px 0 30px;
  background-color: #313131;
}
.main-footer {
  margin-bottom: 30px;
}
.main-footer:last-child {
  margin-bottom: 0;
}
.main-footer .title-footer {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'georgia';
  margin-top: 0;
  font-size: 16px;
}
.main-footer .list-text-footer {
  margin-bottom: 0;
}
.main-footer .list-text-footer li {
  margin-bottom: 5px;
}
.main-footer .list-text-footer li:last-child {
  margin-bottom: 0;
}
.main-footer .list-text-footer li .text,
.main-footer .list-text-footer li .links {
  font-size: 14px;
  color: #898989;
  font-weight: 400;
  font-family: 'georgia';
  display: inline-block;
  margin-bottom: 0;
}
.main-footer .list-text-footer li .text {
  padding-right: 5px;
}
.main-footer .list-text-footer li .text .icons {
  color: #fff;
  padding-right: 10px;
}
.main-footer .list-text-footer li .links:hover {
  color: #e63024;
}
.main-footer .list-text-footer li .links-color {
  color: #e63024;
}
.main-footer .list-text-footer .wp-links-email {
  position: relative;
  padding-top: 15px;
  margin-top: 10px;
}
.main-footer .list-text-footer .wp-links-email:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 75px;
  background-color: #fff;
  left: 0;
  top: 0;
}
.main-footer .list-text-menu li:hover .links {
  padding-left: 10px;
}
.main-footer .list-text-menu li .links {
  text-transform: uppercase;
}
.main-footer .list-instagram {
  font-size: 0;
  margin-top: 20px;
  margin-bottom: 15px;
}
.main-footer .list-instagram li {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
.main-footer .list-instagram li:hover a:after {
  height: 100%;
}
.main-footer .list-instagram li a {
  position: relative;
  width: 100%;
  display: block;
  border: 1px solid #313131;
}
.main-footer .list-instagram li a:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.main-footer .list-instagram li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #e63024;
  opacity: 0.5;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.main-footer .list-instagram li a img {
  position: absolute;
  max-width: none;
  width: auto;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.main-footer .wrapper-social-footer .text {
  font-size: 14px;
  font-family: 'georgia';
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
}
.main-footer .wrapper-social-footer .wrapper-social {
  float: right;
}
.main-footer .wrapper-social-footer .wrapper-social li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #f4f4f4;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.main-footer .wrapper-social-footer .wrapper-social li:hover {
  background-color: #e63024;
  border-color: #e63024;
}
.main-footer .wrapper-social-footer .wrapper-social li:hover a {
  color: #fff;
}
.main-footer .wrapper-social-footer .wrapper-social li a {
  line-height: 30px;
}
.content-footer-text {
  background-color: #000000;
  line-height: 55px;
}
.content-footer-text .text {
  font-size: 14px;
  color: #fff;
  font-family: 'georgia';
  text-align: center;
  margin-bottom: 0;
}
.content-footer-text .text a {
  color: #e63024;
}
