/*----------  0.1. Color  ----------*/
/*----------  0.2. Font  ----------*/
@font-face {
  font-family: "UTM-Avo";
  src: url("../fonts/UTM-Avo.eot?") format("eot"), url("../fonts/UTM-Avo.woff") format("woff"), url("../fonts/UTM-Avo.ttf") format("truetype");
}
@font-face {
  font-family: "UTM-Avo";
  src: url("../fonts/UTM-AvoBold.eot?") format("eot"), url("../fonts/UTM-AvoBold.woff") format("woff"), url("../fonts/UTM-AvoBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "georgia";
  src: url("../fonts/georgia.eot?") format("eot"), url("../fonts/georgia.woff") format("woff"), url("../fonts/georgia.ttf") format("truetype");
}
@font-face {
  font-family: "GreatVibes";
  src: url("../fonts/GreatVibes.eot?") format("eot"), url("../fonts/GreatVibes.woff") format("woff"), url("../fonts/GreatVibes.ttf") format("truetype");
}
