section.wrapper-footer
	.section-footer
		.container
			.content-footer
				.col-md-4
					.main-footer
						h3.title-footer Rokoko Hanoi
						ul.list-unstyled.list-text-footer
							li
								p.text Address:
								a.links(href="javascript:void(0)") 150 Duffy Ave, Hicksville, NY 11801, USA
							li
								p.text Phone:
								a.links(href="javascript:void(0)") +38 056 23 15 785
					.main-footer
						h3.title-footer Rokoko Ho Chi Minh
						ul.list-unstyled.list-text-footer
							li
								p.text Address:
								a.links(href="javascript:void(0)") 150 Duffy Ave, Hicksville, NY 11801, USA
							li
								p.text Phone:
								a.links(href="javascript:void(0)") +38 056 23 15 785
							li.wp-links-email
								p.text
									i.icons.fa.fa-envelope-o
								a.links(href="javascript:void(0)") rokokovn@gmail.com
				.col-md-2
					.main-footer
						h3.title-footer Menu categories
						ul.list-unstyled.list-text-footer.list-text-menu
							li
								a.links(href="javascript:void(0)") Salad cá ngừ
							li
								a.links(href="javascript:void(0)") sashimi
							li
								a.links(href="javascript:void(0)") hàu sữa tươi sống
							li
								a.links(href="javascript:void(0)") thịt nước sốt
							li
								a.links(href="javascript:void(0)") rokoko
							li
								a.links(href="javascript:void(0)") buffet gia đình
							li
								a.links(href="javascript:void(0)") set ăn trưa 
							li
								a.links(href="javascript:void(0)") bibimbap
				.col-md-2
					.main-footer
						h3.title-footer quick links
						ul.list-unstyled.list-text-footer.list-text-menu
							li
								a.links(href="javascript:void(0)") Trang chủ
							li
								a.links(href="javascript:void(0)") Thực đơn
							li
								a.links(href="javascript:void(0)") Khuyến mãi
							li
								a.links(href="javascript:void(0)") Blog
							li
								a.links(href="javascript:void(0)") Đặt bàn online
							li
								a.links(href="javascript:void(0)") Không gian
							li
								a.links(href="javascript:void(0)") Franchise 
				.col-md-4
					.main-footer
						h3.title-footer Join Us On Instagram
						ul.list-unstyled.list-instagram
							li
								a.links(href="javascript:void(0)")
									img.img-responsive(src="assets/images/background/instagram-1.jpg" alt="")
							li
								a.links(href="javascript:void(0)")
									img.img-responsive(src="assets/images/background/instagram-2.jpg" alt="")
							li
								a.links(href="javascript:void(0)")
									img.img-responsive(src="assets/images/background/instagram-3.jpg" alt="")
							li
								a.links(href="javascript:void(0)")
									img.img-responsive(src="assets/images/background/instagram-4.jpg" alt="")
							li
								a.links(href="javascript:void(0)")
									img.img-responsive(src="assets/images/background/instagram-5.jpg" alt="")
							li
								a.links(href="javascript:void(0)")
									img.img-responsive(src="assets/images/background/instagram-6.jpg" alt="")
							li
								a.links(href="javascript:void(0)")
									img.img-responsive(src="assets/images/background/instagram-7.jpg" alt="")
							li
								a.links(href="javascript:void(0)")
									img.img-responsive(src="assets/images/background/instagram-8.jpg" alt="")
							li
								a.links(href="javascript:void(0)")
									img.img-responsive(src="assets/images/background/instagram-9.jpg" alt="")
							li
								a.links(href="javascript:void(0)")
									img.img-responsive(src="assets/images/background/instagram-10.jpg" alt="")
						ul.list-unstyled.list-text-footer
							li
								p.text
									i.icons.fa.fa-instagram 
									| Follow us:
								a.links.links-color(href="javascript:void(0)") #rokokovn
						.wrapper-social-footer
							p.text Theo dõi chúng tôi tại các kênh
							ul.list-inline.wrapper-social
								li
									a(href="#")
										i.fa.fa-facebook
								li
									a(href="#")
										i.fa.fa-twitter
								li
									a(href="#")
										i.fa.fa-google-plus
	.content-footer-text
		.container
			p.text © 2017 All Rights Reserved. Development by 
				a(href="javascript:void(0)") MpireAgency