.menu-mobile
	.main-menu-mobile
		a.links-logo(href="#")
			img.img-resposive(src="assets/images/logo/logo-header.png" alt="")
		.main-header-menu
			.item-header-menu
				ul.nav.navbar-nav.nav-menu.menu-wrapper
					li.menu-item.active
						a(href="javascript:void(0)")
							span.text-menu Trang chủ
					li.menu-item
						a(href="javascript:void(0)")
							span.text-menu Thực đơn
					li.menu-item
						a(href="javascript:void(0)")
							span.text-menu Khuyến mãi 
					li.menu-item
						a(href="javascript:void(0)")
							span.text-menu Blog
					li.menu-item
						a(href="javascript:void(0)")
							span.text-menu Đặt bàn online
					li.menu-item
						a(href="javascript:void(0)")
							span.text-menu không gian
					li.menu-item
						a(href="javascript:void(0)")
							span.text-menu Franchise
					li.menu-item
						a(href="javascript:void(0)")
							span.text-menu Liên hệ
				