@import "library.less";

/******** HOME ********/
.wrapper-banner {
    padding: 160px 0 180px 0;
    background-image: url(../images/background/bg-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    overflow: hidden;
    &:after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
        width: 100%;
        height: 40px;
        background-image: url(../images/background/bg-bottom.png);
        background-size: cover;
        -webkit-background-size: cover;
    }
}

.wrapper-combo {
    margin-left: 60px;
    display: inline-block;
    padding: 0 40px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 5px solid #fff;
    }
}

.title-great {
    font-size: 80px;
    line-height: 80px;
    font-family: @font-family-3;
    margin-bottom: 0;
    margin-top: 0;
    color: #ffcc44;
    margin-bottom: 5px;
}

.content-banner {

    .content-combo {
        position: relative;
        z-index: 10;
        background-image: url(../images/background/bg-banner-text.jpg);
        background-size: cover;
        -webkit-background-size: cover;
        padding: 0 20px;
    }

    .item-combo {
        margin-bottom: 15px;
    }

    .title-combo {
        font-size: 40px;
        line-height: 40px;
        margin-top: 0;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 0;
    }
    .title-combo-1 {
        font-weight: bold;
        padding-left: 5px;
    }

    .title-combo-sales {
        color: @main-color;
        font-weight: bold;
    }
}

.wrapper-oder {
    padding: 40px 0;
    .content-oder {
        position: relative;
    }
    .images-oder-left {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.oder-right {

    .main-oder-right {

    }

    .title-oder {
        font-size: 50px;
        color: @main-color;
        font-family: @font-family-3;
        margin-bottom: 20px;
        margin-top: 0;
        text-align: center;
    }

    .item-form-oder-left {
        width: 65%;
        float: left;
        padding-right: 15px;
        color: #898989;
    }

    .item-form-oder-right {
        width: 35%;
        float: left;
        .input-oder {
            padding-left: 15px;
          
        }


    }
    .date{
          .input-group-addon {
                padding-right: 0;
            }
    }

    .input-oder {
        width: 100%;
        border: 0;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0 30px;
        font-size: 13px;
        color: #898989;
    }

    .input-oder::-webkit-input-placeholder {
        color: #898989;
    }
    .input-oder::-moz-placeholder {
        color: #898989;
    }
    .input-oder:-ms-input-placeholder {
        color: #898989;
    }
    .input-oder:-moz-placeholder {
        color: #898989;
    }

    .icons-oder {
        color: #898989;
        position: relative;
    }

    .item-form-oder {
        width: 100%;
        position: relative;
        height: 45px;
        line-height: 45px;
        border: 1px solid #dfdfdf;
        text-align: right;
        padding-right: 15px;
    }
    .main-form-oder {
        float: left;
        width: 100%;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .main-form-oder-1 {
        .item-form-oder-left {
            padding-right: 0;
            padding-left: 15px;
        }
    }

    .main-form-oder-2 {
        margin-bottom: 30px;
    }


    .wrapper-btn-oder {
        float: left;
        width: 100%;
        text-align: center;
    }
}

.bootstrap-datetimepicker-widget table td.active {
    background-color: @main-color;
    color: #fff;
}

.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: @main-color;
    color: #fff;
}

.btn-rokoko {
    font-size: 14px;
    color: #0b0b0b;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    width: 165px;
    line-height: 35px;
    border: 3px solid @main-color;
    display: inline-block;
    border-radius: 25px;
    text-align: center;
    &:hover {
        background-color: @main-color;
        color: #fff;
    }
}

.wrapper-go-rokoko {
    background-image: url(../images/background/banner-go-rokoko.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px 0 140px;
    position: relative;
}

.content-go-rokoko {
    text-align: center;
    .title-go-rokoko {
        margin-top: 0;
        font-size: 48px;
        line-height: 48px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: @font-family-2;
        position: relative;
        margin-bottom: 20px;
    }

    .text-go-rokoko {
        font-family: @font-family-2;
        padding: 0 17%;
    }
}

.banner-line-rokoko {
    text-align: center;
    margin-bottom: 20px;
    img {
        display: inline-block;
    }
}

.wrapper-banner-gird {
    .content-banner-gird {
        font-size: 0;
    }
    .item-gird {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        &:hover {
            .links-gird {
                &:after {
                    height: 100%;
                }
            }
        }
    }

    .links-gird {
        position: relative;
        display: block;
        width: 100%;
        &:before {
            content: "";
            display: block;
            padding-top: 68%;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: @main-color;
            opacity: 0.5;
            .transition(all 0.5s ease);
        }
        img {
            position: absolute;
            width: auto;
            max-width: none;
            left: 50%;
            height: 100%;
            top: 0;
            .transform(translateX(-50%));
        }
    }
}

/******** 404 ********/
.wrapper-404 {
    position: relative;
    .img-404 {
        position: absolute;
        left: 0;
        top: 15%;
    }

    .title-404 {
        color: @main-color;
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 50px;
        font-weight: bold;
        margin-top: 0;
        font-family: @font-family-1;
    }

    .title-small-404 {
        color: #1e1e1e;
        font-weight: bold;
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 10px;
        font-family: @font-family-1;
    }

    .text-404 {
        font-size: 20px;
        color: #808080;
        margin-bottom: 15px;
        text-transform: uppercase;
        width: 80%;
        line-height: 28px;
    }

    .wrapper-text-404 {
        padding: 160px 0;
    }
}

/******** BLOG *******/

.wrapper-blog-banner {
    .content-banner {
        background-image: url(../images/background/banner-blog-rokoko.jpg);
    }
}

.wrapper-blog {
    padding: 50px 0 70px;
}

.item-blog {

    .links-img-blog {
        display: block;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            display: block;
            padding-top: 88%;
        }

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #e63024;
            opacity: 0.5;
            .transition(all 0.4s ease);
        }
        img {
            position: absolute;
            width: auto;
            max-width: none;
            height: 100%;
            top: 0;
            left: 50%;
            .transform(translateX(-50%));
        }
    }

    .text-blog-rokoko {
        font-size: 14px;
        color: #424242;
        margin-bottom: 0;
    }

}

.item-blog-hover {
    &:hover {
        .links-img-blog {
            &:after {
                height: 100%;
            }
        }

        .title-text-blog {
            color: @main-color;
        }
    }
}

.wrapper-text-blog {
    .title-text-blog {
        margin-top: 0;
        font-size: 24px;
        font-weight: bold;
        color: #121212;
        font-family: @font-family-1;
        margin-bottom: 15px;
        display: block;
    }
    .wrapper-day-rokoko {
        display: inline-block;
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
        img {
            display: inline-block;
            padding-right: 10px;
        }
        .text {
            color: #e63024;
            font-size: 12px;
            font-family: @font-family-1;
        }
    }
}



.row-main-blog {
    margin-bottom: 40px;
}

.main-blog-col {
    .item-blog {
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .title-text-blog {
        font-size: 16px;
    }
    .links-img-blog {
        margin-bottom: 10px;
        &:before {
            padding-top: 71%;
        }
    }

    .title-text-blog {
        margin-bottom: 5px;
    }
}

.wrapper-gallery {
    .content-gallery {
        margin: 0 -15px;
    }
    .grid-item {
        width: 33.33%;
        padding: 0 15px;
    }

    .grid-item-2 {
        .links-img-blog {
            &:before {
                padding-top: 178%;
            }
        }
    }

    .title-text-blog {
        font-size: 16px;
        line-height: 22px;
    }

    .links-img-blog {
        margin-bottom: 10px;
        &:before {
            padding-top: 67%;
        }
    }

    .title-text-blog {
        margin-bottom: 5px;
    }

    .wrapper-gallery-images {
        margin-bottom: 30px;
    }
}

.wrapper-form-search-sidbar {
    width: 100%;
    position: relative;
    height: 30px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 35px;
    .input-search {
        width: 100%;
        position: absolute;
        border: 0;
        height: 100%;
        line-height: 30px;
        font-size: 12px;
        font-weight: bold;
        color: #898989;
        font-family: @font-family-4;
    }

    .input-search::-webkit-input-placeholder {
        color: #898989;
    }
    .input-search::-moz-placeholder {
        color: #898989;
    }
    .input-search:-ms-input-placeholder {
        color: #898989;
    }
    .input-search:-moz-placeholder {
        color: #898989;
    }

    .btn-submit-search {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        line-height: 25px;
        background-color: transparent;
        border: 0;
        .icons-search {
            color: #555555;
        }
    }
}

.title-slidbar {
    font-size: 16px;
    color: #464646;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.wrapper-categories {
    margin-bottom: 90px;
    .list-categories {
        li {
            margin-bottom: 15px;
            .transition(all 0.3s ease);
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                padding-left: 10px;
                .links-categories {
                    .text {
                        color: @main-color;
                    }
                    
                    &:before {
                        background-color: @main-color;
                    }
                }
            }
        }
    }

    .links-categories {
        display: block;
        position: relative;
        padding-left: 20px;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            height: 1px;
            width: 10px;
            background-color: #898989;
            .transition(all 0.3s ease);
        }
    }

    .text {
        font-size: 14px;
        color: #898989;
        .transition(all 0.3s ease);
    }

    .text-right {
        float: right;
    }
}

.wrapper-write {

    .item-write {
        display: table;
        width: 100%;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            .links-img-write {
                &:after {
                    height: 100%;
                }
            }
            .title {
                color: @main-color;
            }
        }
    }

    .write-left {
        display: table-cell;
        vertical-align: middle;
        width: 27%;
    }
    .links-img-write {
        width: 100%;
        position: relative;
        display: block;
        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #e63024;
            opacity: 0.5;
            .transition(all 0.4s ease);
        }

        img {
            position: absolute;
            width: auto;
            max-width: none;
            height: 100%;
            top: 0;
            left: 50%;
            .transform(translateX(-50%));
        }
    }
    .write-right {
        display: table-cell;
        vertical-align: middle;
        width: 73%;
        padding-left: 15px;
        .title {
            color: #1a1a1a;
            font-size: 13px;
            font-weight: bold;
            font-family: @font-family-4;
        }

        .text-color {
            font-size: 12px;
            color: #e63024;
        }
    }
}

/******* BLOG DETAIL *******/

.content-back {
    padding: 35px 0 30px 0;
    .content-back {

    }

    .icons-back {
        color: @main-color;
        padding-right: 10px;
    }

    .link-back {
        &:hover {
            .text-back {
                color: @main-color;
            }
        }
    }

    .text-back {
        font-size: 14px;
        color: #323232;
        font-family: @font-family-1;
    }
}

.wrapper-blog-detail {
    padding: 0;
    .item-blog {
        .links-img-blog {
            &:before {
                display: none;
            }
            img {
                position: relative;
            }
        }

        .text-blog-rokoko {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .row-main-blog {
        padding-bottom: 50px;
        margin-bottom: 30px;
        border-bottom: 1px solid #dbdbdb;
    }

    .content-blog {
        margin-bottom: 80px;
    }
}

.wrapper-share {
    text-align: right;
    margin-bottom: 20px;
    .links-share {
        background-color: #4065b5;
        color: #fff;
        margin-right: 10px;
        padding: 2px 7px;
        border-radius: 5px;
        &:last-child {
            margin-right: 0;
        }
    }

    .text-share {
        font-size: 13px;
    }

    .icons-share {
        padding-right: 5px;
    }

    .text-share {
        padding-right: 5px;
    }

    .text-share-bold {
        font-weight: bold;
        font-family: @font-family-1;
    }
}

.wrapper-related-article {
    .title-related-article {
        font-size: 16px;
        color: #464646;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 15px;
        text-align: center;
    }

    .wrapper-line-blog {
        margin-bottom: 30px;
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

/******* FRANCHISE *******/

.wrapper-franchise {
    padding: 0;
    .item-blog {
        .links-img-blog {
            margin-bottom: 30px;
            &:before {
                display: none;
            }
            img {
                position: relative;
            }
        }

        .title-text-blog-small {
            font-size: 28px;
            line-height: 28px;
            color: @main-color;
            font-family: @font-family-1;
            margin-bottom: 5px;
            display: block;
        }

        .title-text-blog {
            text-transform: uppercase;
            font-size: 30px;
            color: #0b0b0b;
            line-height: 30px;
            font-weight: bold;
            margin-bottom: 20px;
            font-family: @font-family-1;
        }

        .text-blog-rokoko {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .row-main-blog {
        padding-bottom: 40px;
        border-bottom: 1px solid #dbdbdb;
        margin-bottom: 30px;
    }

    .content-blog {
        padding-bottom: 100px;
    }
}

.wrapper-interested {
    .title-interested {
        font-size: 16px;
        color: #464646;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .item-interested {
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
        .links-img-blog {
            margin-bottom: 10px;
        }

        .title-text-blog {
            font-size: 13px;
            color: #424242;
            font-weight: bold;
            font-family: @font-family-1;
            text-transform: inherit;
            line-height: 24px;
        }

        .title-text-blog {
            margin-bottom: 0;
        }
    }
}

/******** CONTACT ********/

.wrapper-contact-banner {
    .content-banner {
        background-image: url(../images/background/banner-contact-rokoko.jpg);
    }
}

.wrapper-contact {
    position: relative;
    border-bottom: 20px solid @main-color;
    .wrapper-banner-img-left {
        position: absolute;
        top: 30%;
        left: 0;
    }

    .oder-right {
        padding: 70px 0;
        float: left;
        width: 100%;
        .title-oder {
            font-size: 30px;
            color: #4b4b4b;
            font-weight: bold;
            margin-bottom: 30px;
            font-family: @font-family;
            line-height: 35px;
        }

        .input-oder {
            font-family: @font-family-1;
            padding: 0 15px;
        }

        .item-form-oder-left {
            width: 50%;
            padding-left: 15px;
        }
        .item-form-oder-right {
            width: 50%;
            padding-right: 15px;
            line-height: 1;
        }

        .main-form-area {
            .item-form-oder {
                height: 100%;
                padding-right: 0;
                border: 0;
            }
        }

        .input-textarea {
            min-height: 140px;
            resize: vertical;
            width: 100%;
            position: relative;
            padding: 0 15px;
            font-size: 13px;
            color: #898989;
            font-family: @font-family-1;
            border: 1px solid #dfdfdf;
        }

        .input-textarea::-webkit-input-placeholder {
            color: #898989;
        }
        .input-textarea::-moz-placeholder {
            color: #898989;
        }
        .input-textarea:-ms-input-placeholder {
            color: #898989;
        }
        .input-textarea:-moz-placeholder {
            color: #898989;
        }
    }

    .wrapper-line-contact {
        margin-bottom: 20px;
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .text-contact {
        text-align: center;
        font-size: 16px;
        color: #464646;
        margin-bottom: 20px;
    }

    .btn-rokoko {
        background-color: @main-color;
        color: #fff;
        &:hover {
            background-color: transparent;
            color: @main-color;
        }
    }
}

.wrapper-oder-btn-contact {
    background-color: @main-color;
    position: fixed;
    right: -40px;
    top: 60%;
    padding: 5px;
    border-radius: 50px;
    z-index: 9999;
    .btn-oder {
        color: #fff;
        font-size: 18px;
        padding: 15px 50px 15px 15px;
        display: inline-block;
        border: 1px dashed #fff;
        border-radius: 50px;
    }
}

.wrapper-partner {
    background-image: url(../images/background/bg-partner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    padding: 80px 0;
    .title-partner {
        margin-top: 0;
        margin-bottom: 40px;
        text-align: center;
        font-size: 62px;
        color: #4b4b4b;
        line-height: 62px;
        font-family: @font-family-3;
    }

    .main-partner {
        padding-left: 30px;
        position: relative;
        margin-bottom: 50px;
        &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 13px;
            background-color: #b5b5b5;
            left: 0;
            top: 0;
            bottom: 0;
        }
        .title {
            font-size: 18px;
            color: @main-color;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        .text {
            font-size: 14px;
            color: #151515;
            font-family: @font-family-1;
            margin-bottom: 0;
        }
    }

    .content-partner {
        .col-md-4 {
            &:nth-last-child(-n + 3) {
                .main-partner {
                    margin-bottom: 0;
                }
            }
        }
    }
}
