@import "library.less";

@media screen and (max-width: 1500px) {
	.wrapper-404 .img-404 {
		width: 40%;
	}

	.wrapper-contact .wrapper-banner-img-left img{
		width: 80%;
	}
}

@media screen and (max-width: 1024px) {
	.wrapper-hamburger {
		display: block;
	}

	.main-header-menu {
		display: none;
	}

	.wrapper-logo {
		display: none;
	}

	.menu-mobile {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.menu-mobile {
		width: 40%;
	}
}

@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 667px) {
	
}

@media screen and (max-width: 600px) {
	.menu-mobile {
		width: 45%;
	}
}

@media screen and (max-width: 480px) {
	.menu-mobile {
		width: 60%;
	}
}

@media screen and (max-width: 380px) {
	
}

@media screen and (max-width: 320px) {
	.content-header-social .wrapper-form-search {
		margin-right: 20px;
	}

	.content-header-social .wrapper-form-search form {
		width: 140px;
	}
}